<div class="selectionDiv">
    <div class="selectDiv">
        <select class="selections">
            <option>Player A</option>
        </select>
    </div>

    <div class="selectDiv">
        <select class="selections">
            <option>Player B</option>
        </select>
    </div>
</div>

<div class="buttonDiv">
    <button id="predictBut">Predict</button>
    <p id="prediction">A winds by</p>
</div>

<div class="detailsDiv">
    <ul class="lists">
        <li class="details" *ngFor="let details of data">{{details}}</li>
    </ul>

    <ul class="lists">
        <li class="details" *ngFor="let details of data">{{details}}</li>
    </ul>
</div>
